.card{
    .card__inner{
        width: 210px;
        height: 260px;

        border: 1px solid #F3F3F3;
        border-radius: 40px;

        margin-right:  40px;

        .card__container{

            width: 150px;
            margin: 0 auto;

            .card__colum{
                display: flex;
                flex-direction: column;
                .card__icon{
                    cursor: pointer;
                    position: relative;
                    top: 40px;
                }
                .card__image{

                }
                .card__text{
                    margin-top: 14px;
                    margin-bottom: 14px;

                    font-family: 'Inter-Regular';
                    font-size: 14px;
                }
                .card__block{
                    .card__block__row{
                        
                        display: flex;
                        flex-direction: row;

                        justify-content: space-between;
                        .card__block__leftSide{
                            .card__block__price{
                                text-transform: uppercase;
                                font-family: 'Inter-Light';
                                font-size: 11px;

                                color: #BDBDBD;

                                margin-bottom: 2px;
                            }
                            .card__block__currentPrice{
                                font-family: 'Inter-Bold';
                                font-size: 14px;
                            }
                        }
                        .card__block__button{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}