.shadow{
    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 70%;

    height: 100vh;
    width: 100%;

    z-index: 100;
}
.cart{
    z-index: 101;
    .cart__inner{
        position: fixed;
        top: 0;
        right: 0;

        max-width: 385px;
        width: 100%;

        background-color: white;
        height: 100vh;
        .cart__container{
            max-width: 325px;
            width: 100%;

            margin: 35px auto;
            .cart__colum{
                display: flex;
                flex-direction: column;

                height: 95vh;
                .cart__text{
                    font-family: 'Inter-Bold';
                    font-size: 24px;
                }
                .cart__list{
                    margin-top: 30px;

                    flex: 1 1 auto;
                    
                    display: flex;
                    flex-direction: column;
                }
                .tax__block{
                    font-family: 'Inter-Regular';
                    font-size: 16px;

                    .tax__block__firstLine{
                        margin-bottom: 20px;
                    }
                    .tax__block__secondLine{

                    }
                    .tax__block__button{
                        width: 325px;
                        height: 55px;

                        border: none;
                        background-color: #9DD458;

                        color: white;
                        
                        font-family: 'Inter-Bold';
                        font-size: 16px;

                        border-radius: 18px;

                        margin-top: 25px;
                    }
                }
            }
        }
    }
}